@media (min-width: 500px) {}

@media (min-width: 900px) {}

@media (min-width: 1260px) {}

/* ---------------------------- */
@media (min-width: 500px) {
  h1 {
    font-size: 3.35rem;
  }

  h2 {
    font-size: 2.35rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.70rem;
  }

  h2 {
    font-size: 2.70rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1260px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

/* ===============================header=============================== */
@media (max-width: 560px) {
  .header-burger__button {
    display: block;
  }
  .nav-list {
    display: none;
  }
}


/* ===============================main=============================== */

/* -------------------------------hero------------------------------- */

@media (min-width: 500px) {}

@media (min-width: 900px) {
  .hero-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-img {
    display: block;
  }
}

@media (min-width: 1260px) {}
/* -------------------------------about------------------------------- */



/* -------------------------------projects------------------------------- */
@media (min-width: 650px) {
  .projects-list{
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2,1fr);
  }
}

@media (min-width: 1000px) {
  .projects-list{
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1260px) {

}
/* ------------- */

/* -------------------------------contact------------------------------- */
@media (min-width: 900px) {
  .contact{
    text-align: start;
  }
  .contact-inner{
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
  .contact__list{
    justify-content: start;
  }
  .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3vh;
  }
  .contact-form{
    margin: 3vh 0 0;
  }
}

@media (min-width: 900px) {}

@media (min-width: 1260px) {}
/* ===============================footer=============================== */
@media (min-width: 650px) {
  .footer-inner{
    grid-template-columns: repeat(2,25%);
    gap:50%;
  }
  .footer-content{
    margin-top: 0;
  }
}

