html, body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  background-color: rgba(19, 19, 19);
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  padding: 0 15px;
  max-width: 1260px;
  margin: 0 auto;
}

p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.336);
}

.button {
  padding: 15px 10px;
  background: linear-gradient(90deg, rgb(53, 53, 158) 0%, rgb(30, 12, 107) 100%);
  border-radius: 4%;
  transition: all .5s;
}

.button:hover {
  box-shadow: white 0px 0px 10px;
}

h1 {
  /* font-size: 4rem; */
  font-size: 3rem;
  line-height: 120%;
  text-shadow: black -15px -15px 5px;
  font-weight: 900;
}

h2 {
  /* font-size: 3rem; */
  font-size: 2rem;
  line-height: 110%;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
}

/* ===============================header=============================== */
.header {
  background-color: rgb(8, 8, 8);
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 10;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
}

.header__logo {
  margin-right: 110px;
}

.nav-list {
  display: flex;
  font-weight: 900;
}

.nav-item {
  margin-right: 25px;
}

.nav-list:last-child {
  margin-right: 0;
}

.header-burger__button {
  background: transparent;
  color: white;
  font-size: 100%;
  height: 100%;
  font-size: 200%;
  display: none;
}

.burger__nav {
  /* width: 100%; */
  height: 100vh;
  z-index: 11;
  position: fixed;
  /* background-color: rgba(94, 94, 94, 0.281); */
  display: none;
  transform: translate(100%);

}
.nav-list--burger {
  display: block;
  position: fixed;
  right: 0;
  text-align: end;
  font-weight: 900;
  width: 100%;
  height: 100vh;
  background-color: rgb(17, 17, 17);
  transform: translate(0);
    transition: "transform" .3s;
}

.nav-item--burger {
  border-bottom: 4px solid white;
  padding: 5vh;

}

/* @media(max-width:560px){
  .header-burger__button{
    display: block;
  }
  .nav-list{
    display: none;
  }
} */
/* ===============================main=============================== */

/* -------------------------------hero------------------------------- */
main{
  padding-bottom: 5vh;
}
.hero {
  height: 100vh;
  background: linear-gradient(90deg, rgb(14, 14, 14), rgb(29, 29, 29));
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.hero-inner {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  /*repeat(2,1fr)*/
  padding: 20vh 0;
}

.hero-content {
  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: space-around;
  padding: 0 5%;
  margin-right:auto;
}

.hero-title {
  /* margin-bottom: ; */
}

.hero-subtitle {
  margin: 4vh 0;
}

.hero__btn-box {
  height: 69px;
  display: flex;
  align-items: center;
}

.hero__btn-box .button {
  margin-right: 25px;
}


.hero-img img{
  width: 100%;
  max-width: 345px;
}

/* -------------------------------about------------------------------- */
.about {
  scroll-margin-top: 10vh;
  padding: 5vh 0;
  margin-bottom: 5vh;
  display: flex;
  height: 100%;
  align-items: center;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /*1fr*/
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content:last-child {
  margin-bottom: 0;
}

.about-title {
  margin-bottom: 5vh;
}

.about-parargaph {
  margin-bottom: 3vh;
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 95%;
  display: none;
}

/* -------------------------------projects------------------------------- */
.projects {
  scroll-margin-top: 10vh;
  background: linear-gradient(90deg, rgb(24, 24, 24), rgb(15, 15, 15));
  padding: 5vh 0;
}

.projects-title {
  margin-bottom: 5vh;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 10vh;
}

.projects-item {
  background: rgb(34, 34, 34);
  border-radius: 5%;
  overflow: hidden;
  transition: all .3s;
}

.projects-item:hover {
  box-shadow: rgba(255, 255, 255, 0.411) 0 0 20px;

}

.project-item__link {}

.project-item__img {}

.project-item__img img {
  width: 100%;
}

.project-item__title {
  margin: 5%;
}

.project-item__paragraph {
  margin: 5%;
}

/* ------------- */
.projects-reviews {}

.reviews__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5vh;
}

.reviews__title {
  padding-right: 20px;
}

.reviews__btn-box {
  display: flex;
  width: 72px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.next-btn, .prev-btn {
  position:relative;
  background-color: transparent;
  z-index: 0;
  padding: 0 3px;
}
.next-btn *, .prev-btn *{
  fill: white;
}
.next-btn svg {
  transform: rotate(180deg);
  z-index:1;
}
.prev-btn svg {
  z-index: 1;
}
.next-btn::after, .prev-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: blue;
  border-radius: 50%;
  z-index: -1;
  height: 48px;
  width: 48px;
  transform: translate(-50%,-50%) scale(0);
  transition: all .3s;
}
.next-btn:hover::after, .prev-btn:hover::after{
    transform: translate(-50%,-50%) scale(1);
}



.reviews__list {
  max-width: 100%;
}

.reviews-item {
  border: 2px solid rgb(24, 24, 24);
  border-radius: 10px;
  box-shadow: inset black 0 0 15px;
  padding: 3vh 0;
}

.reviews-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.reviews-img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: solid 5px rgb(56, 56, 56);
  border-radius: 50%;

}

.reviews-img img {
  height: auto;
  width: 100%;

}

.reviews-content {}

.reviews-content__title {
  margin: 2% 0;
}

.reviews-content__paragraph {
  padding: 0 5px;
}


/* -------------------------------contact------------------------------- */
.contact {
  scroll-margin-top: 10vh;
  background-color: rgb(17, 17, 17);
  padding-bottom: 20px;
  text-align: center;
  /* text-align: start; */
}

.contact-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap:5vh;
}

.contact-content {
  
}

.contact-title {
  margin: 3vh 0;
}

.contact-paragraph {
  margin: 2vh 0;
}

.contact__list {
  display: flex;
  justify-content: start;
  justify-content: center;
}
.contact__list :last-child{
  margin-right: 0;
}

.contact-item {
  width: 20px;
  height: 20px;
  margin-right: 5%;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form__meaning {
  margin: 0 0 15px 0;
}
textarea{
  width:320px;
  height: 150px;
  font-size: 1rem;
  border-radius: 6px;
  padding: 5px;
}
.contact-form__input {
  background-color: rgb(44, 44, 44);
  color: white;
  font-style: normal;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  padding: 5px;
  border-radius: 6px;
}

.contact-form__input--email {}

.contact-form__input--text {
  height: 20vh;
}
.contact-form__btn {
  padding: 15px 10px;
  background: linear-gradient(90deg, rgb(53, 53, 158) 0%, rgb(30, 12, 107) 100%);
  border-radius: 4%;
  transition: all .5s;
  color: white;
  font-size: 1rem;
  font-family: "Lato" serif;
  font-weight: 700;

}

.contact-form__btn:hover {
  box-shadow: white 0px 0px 10px;
}
/* ===============================footer=============================== */
.footer {
  color: rgba(255, 255, 255, 0.336);
  padding: 2vh 0;
}
.footer p{
  font-size: 0.75rem;
  margin: 5px 0;
}
.container {
}
.footer-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  /* gap: 20px; */
}
.footer-text {
}
.footer-paragraph {
}
.footer-content {

}
.footer-content {
  /* margin-top: 15px; */
}

.footer-email {

}
.footer__contact-icons {
  display: flex;
  justify-content: start;
  margin: 15px 0;
}
.footer-icon {
  margin-right: 5%;
  width: 20px;
  height: 20px;
  
}
.footer__contact-icons:last-child {
  /* margin-right: 0; */
}
.footer-totop {

}




